<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-4">
  <div class="col-12">
    <div class="card" id="signup-card">
      <h2 class="card-title text-center text-bg-light py-3">New? Sign Up Here!</h2>
      <div class="card-body">
        <form novalidate action="" class="text-bg-light">
          <div class="form-floating pb-3">
            <label for="signup_name" class="form-label" required>Name: </br></label>
            <input type="text" class="form-control" id="signup_name" placeholder="your name here"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_netid" class="form-label" required>netID: <br></label>
            <input type="text" class="form-control" id="signup_netid" placeholder="netID"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_classyear" class="form-label" required>Graduation year: <br></label>
            <input type="text" class="form-control" id="signup_classyear" placeholder="Class year"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_major" class="form-label" required>Major: <br></label>
            <input type="text" class="form-control" id="signup_major" placeholder="Enter your major"/><br>
          </div>
          <button type="submit" class="btn btn-primary d-inline-block mt-2 hcenter-transform">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>