<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SWE Attendance - Sign Up</title>

  <!-- Favicon Section -->
  <link rel="apple-touch-icon" sizes="180x180" href="public/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/icon/favicon-16x16.png">
  <link rel="mask-icon" href="public/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="public/icon/favicon.ico" type="image/x-icon" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#000000">
  <!-- Favicon Section -->

  <!-- Linked CSS -->
  <link rel="stylesheet" href="../../client/css/base.css" />
  <link rel="stylesheet" href="../../client/css/home.css" />
  <link rel="stylesheet" href="../../client/css/main.css" />
  <!-- Linked CSS -->

  <!-- Linked JS -->
  <script src="./js/base.js" defer></script>
  <script src="./js/forms.js" defer></script>
  <!-- Linked JS -->
</head>
<body>
<div class="row mb-4">
  <div class="col-12">
    <div class="card" id="signup-card">
      <h2 class="card-title text-center text-bg-light py-3">New? Sign Up Here!</h2>
      <div class="card-body">
        <form novalidate action="" class="text-bg-light">
          <div class="form-floating pb-3">
            <label for="signup_name" class="form-label" required>Name: </br></label>
            <input type="text" class="form-control" id="signup_name" placeholder="your name here"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_netid" class="form-label" required>netID: <br></label>
            <input type="text" class="form-control" id="signup_netid" placeholder="netID"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_classyear" class="form-label" required>Graduation year: <br></label>
            <input type="text" class="form-control" id="signup_classyear" placeholder="Class year"/><br>
          </div>
          <div class="form-floating pb-3">
            <label for="signup_major" class="form-label" required>Major: <br></label>
            <input type="text" class="form-control" id="signup_major" placeholder="Enter your major"/><br>
          </div>
          <button type="submit" class="btn btn-primary d-inline-block mt-2 hcenter-transform">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>